<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
        }

        h1 {
            color: #333;
            font-size: 36px;
            text-transform: uppercase;
            margin-top: 50px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
    </style>
</head>
<body>
<h1>No puedes pasar</h1>
<a href="/logout" style="text-decoration: none; color: #007bff; font-weight: bold; font-size: 16px; border: 1px solid #007bff; padding: 10px 20px; border-radius: 5px; display: inline-block; background-color: #fff;">Cerrar sesión</a>
</body>
</html>
